<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.loopeer.projectdevelopmodule">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.CompatInsetToolbarActivity"
            android:label="@string/label_compat_inset_toolbar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.CompatInsetImageHeaderActivity"
            android:label="@string/label_compat_inset_image_header"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.CompatSingleInsetImageHeaderActivity"
            android:label="@string/label_compat_single_inset_image_header"
            android:theme="@style/AppTheme.SingleNoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.CompatSingleInsetToolbarActivity"
            android:label="@string/label_compat_single_inset_toolbar"
            android:theme="@style/AppTheme.SingleNoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.BottomDialogDateTimeViewActivity"
            android:label="@string/label_bottom_dialog_date_time">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.AddressPickerActivity"
            android:label="@string/label_address_picker">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".sample.TestGuideActivity"
            android:label="@string/label_test_guide"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".sample.BaseDevelopUtilsActivity"
            android:label="@string/label_develop_util">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>

                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".flowlayout.FlowLayoutActivity"
            android:label="@string/label_flow_layout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.RUN"/>
                <category android:name="com.loopeer.projectdevelopmodule.sample.SAMPLE"/>
            </intent-filter>
        </activity>

    </application>

</manifest>